In [3]:
#Import NBA data

!pip install nba_api

#import nba_api 
#import matplotlib.pyplot as plt

Requirement already satisfied: nba_api in /Users/jonnyfalls/opt/anaconda3/lib/python3.9/site-packages (1.4.1)
Requirement already satisfied: certifi<2024.0.0,>=2023.7.22 in /Users/jonnyfalls/opt/anaconda3/lib/python3.9/site-packages (from nba_api) (2023.11.17)
Requirement already satisfied: requests<3.0,>=2.31 in /Users/jonnyfalls/opt/anaconda3/lib/python3.9/site-packages (from nba_api) (2.31.0)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /Users/jonnyfalls/opt/anaconda3/lib/python3.9/site-packages (from nba_api) (1.26.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/jonnyfalls/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.31->nba_api) (3.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jonnyfalls/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.31->nba_api) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jonnyfalls/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.31->nba_api) (1.26.7)

In [4]:
from nba_api.stats.endpoints import TeamInfoCommon


team_info_common = TeamInfoCommon(
        league_id = '00', # nba 00, g_league 20, wnba 10
        team_id = '1610612747', # select one team_id
        season_type_nullable = 'Regular Season', # Regular Season, Playoffs, Pre Season' 
)
df_team_list = team_info_common.get_data_frames()[0]
df_team_list

,TEAM_ID,SEASON_YEAR,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CONFERENCE,TEAM_DIVISION,TEAM_CODE,TEAM_SLUG,W,L,PCT,CONF_RANK,DIV_RANK,MIN_YEAR,MAX_YEAR
0,1610612747,2023-24,Los Angeles,Lakers,LAL,West,Pacific,lakers,lakers,33,28,0.541,10,5,1948,2023